{% extends 'base.html' %}

{% block title %} Моделизм {% endblock title %}

{% block heading %} Модельные посиделки {% endblock heading %}

{% block subheading %} Блог любителя позалипать вечером в модельки {% endblock subheading %}

{% block content %}
<!-- Main Content -->
<div class="container">
    <div class="row">
    {% for post in post_list %}
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                <a href="{{ post.get_absolute_url }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.text | truncatewords:20 }}
                    </h3>
                </a>
                <p class="post-meta">Пост опубликован {{ post.date_create }} </p>
            </div>
        <hr>
    {% endfor %}
            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Наверх &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr>

{% endblock content %}

